---
title: RetroPEW
last_updated: 2020-09-05
---
<section>
  <h2><span class="text">New Releases</span></h2>

  <ul class="game-list">
    {% assign games = site.data.games.new_releases | sort: "release_date" | reverse %}
    {% for game in games %}
      <li class="game{% for platform in game.platforms %} platform-{{platform}}{% endfor %}">
        {% include game.html game=game %}
      </li>
    {% endfor %}
  </ul>
</section>


<section>
  <h2><span class="text">Classics</span></h2>

  <ul class="game-list">
    {% assign games = site.data.games.classics | sort: "release_date" | reverse %}
    {% for game in games %}
      <li class="game{% for platform in game.platforms %} platform-{{platform}}{% endfor %}">
        {% include game.html game=game %}
      </li>
    {% endfor %}
  </ul>
</section>
