{% if include.game.website %}<a href="{{ include.game.website }}">{% endif %}

<div class="image">
    <img src="/assets/games/{{ include.game.image }}" alt="">
</div>

{% if include.game.website %}</a>{% endif %}

<h3>{{ include.game.title }}</h3>
<time datetime="{{ include.game.release_date }}">
  {{ include.game.release_date | date: "%Y" }}
</time>

<ul class="links">
  {% for link in include.game.links %}
    <li>
      <a href="{{ link[1] }}">
        <img src="./assets/icon-{{ link[0] }}.png" alt="{{ link[0] }}">
      </a>
    </li>
  {% endfor %}
</ul>
