@font-face {
  font-family: "Gobold";
  src: url("./assets/Gobold Light.otf") format("opentype");
  font-weight: lighter;
  font-style: normal;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  background: rgb(28, 28, 28);
  color: #ccc;
  font-family: "Gobold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: lighter;
  text-align: center;
  text-transform: uppercase;
}

footer a {
  color: #fff;
}

h1,
h2,
h3 {
  font-weight: inherit;
  margin: 0;
}

h2 {
  border-top: 4px solid #ff0002;
  text-align: left;
}

h2 .text {
  background: #ff0002;
  border-radius: 0 0 0.5em 0.5em;
  color: white;
  display: inline-block;
  padding: 0.5em 2em;
}

h3 {
  font-size: 1.4em;
  margin: 1em 0 0.5em;
}

header {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: baseline;
  align-items: flex-end;
}

header aside {
  flex-basis: 38%;
}

header h1 {
  color: #ff0002;
  flex: auto;
  text-align: left;
}

img {
  max-width: 100%;
}

p {
  margin: 1em 0;
}

section {
  margin-bottom: 2em;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1080px;
  margin: 0 auto;
}

.container-wrapper {
  background: radial-gradient(
    circle closest-side,
    rgb(81, 81, 81),
    rgb(28, 28, 28)
  );
  background-attachment: fixed;
}

.filter {
  margin: 2%;
}

.filter input {
  display: none;
}

.filter img {
  cursor: pointer;
}

.filters {
  display: flex;
}

.filters.filtered .filter input + img {
  opacity: 0.35;
}

.filters.filtered .filter input:checked + img {
  opacity: 1;
}

.filters .header {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.game-list {
  display: flex;
  flex-flow: row wrap;
}

.game {
  margin: 2em 0;
  position: relative;
  flex-basis: 25%;
}

.game > a {
  display: block;
}

.game h3 {
  position: relative;
  z-index: 2;
}

.game time {
  display: block;
}

.game .image {
  margin: 0 15% 1em;
}

.game .image img {
  display: block;
}

.game:hover {
  color: #fff;
}

.game:hover .links {
  display: flex;
}

.hero {
  background: #fff;
  border-bottom: 4px solid #ff0002;
  border-radius: 0.5em 0.5em 0 0;
  color: #333333;
  padding: 1em;
}

.image img {
  width: 100%;
}

.links {
  background: rgba(28, 28, 28, 0.5);
  background: linear-gradient(
    to bottom,
    rgba(28, 28, 28, 0) 0%,
    rgba(28, 28, 28, 0.5) 50%,
    rgba(28, 28, 28, 0) 100%
  );
  display: none;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  position: absolute;
  padding: 20% 2.5%;
  top: 40%;
  width: 100%;
  z-index: 1;
}

.links li {
  margin: 0 2.5%;
  flex-basis: 15%;
}

.updated {
  text-align: right;
  margin-bottom: 0.5em;
}

/* small desktop */
@media (max-width: 1000px) {
  .game {
    flex-basis: 33.33%;
  }
}

/* mobile */
@media (max-width: 600px) {
  header aside {
    flex-basis: 100%;
  }

  .game-list {
    display: block;
  }

  .game {
    margin-bottom: 5em;
  }

  .links {
    display: flex !important;
    position: relative;
    padding: 0;
    margin: 1em 0;
    background: none;
  }

  .links li {
    margin: 0 2.5%;
    flex-basis: 10%;
  }
}

/* filters */
.filtered .game {
  display: none;
}
.filtered.filter-linux .game.platform-linux {
  display: block !important;
}
.filtered.filter-mac .game.platform-mac {
  display: block !important;
}
.filtered.filter-playstation .game.platform-playstation {
  display: block !important;
}
.filtered.filter-switch .game.platform-switch {
  display: block !important;
}
.filtered.filter-windows .game.platform-windows {
  display: block !important;
}
.filtered.filter-xbox .game.platform-xbox {
  display: block !important;
}
