<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="./assets/styles.css" />
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="./assets/favicon-114.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="./assets/favicon-114.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="./assets/favicon-144.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="./assets/favicon-144.png">
    <link rel="icon" type="image/vnd.microsoft.icon" sizes="32x32 48x48" href="./assets/favicon.ico">
    <meta property="og:title" content="RetroPEW: RetroModern FPS!">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.retropew.com/">
    <meta property="og:image" content="https://www.retropew.com/assets/logo.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="512">
    <meta property="og:image:height" content="512">
    <meta property="og:image:alt" content="The RetroPEW logo">
    <meta property="og:description" content="A collection of modern FPS-es made like they did in the old days.">
  </head>
  <body>
    <div class="container-wrapper">
      <div class="container">
        <header>
          <h1><img src="./assets/logoe.svg" alt="{{ page.title }}" /></h1>
          <aside>
            <div class="updated">
            Last updated:
            <time datetime="{{ page.last_updated }}">{{ page.last_updated }}</time>
            </div>
            <form id="platforms" class="filters">
              <div class="header">Filter by platform:</div>
              <label class="filter">
                <input type="checkbox" name="windows">
                <img src="./assets/icon-windows.png" alt="Windows" title="Windows">
              </label>
              <label class="filter">
                <input type="checkbox" name="mac">
                <img src="./assets/icon-mac.png" alt="macOS" title="macOS">
              </label>
              <label class="filter">
                <input type="checkbox" name="linux">
                <img src="./assets/icon-linux.png" alt="Linux" title="Linux">
              </label>
              <label class="filter">
                <input type="checkbox" name="switch">
                <img src="./assets/icon-switch.png" alt="Nintendo Switch" title="Nintendo Switch">
              </label>
              <label class="filter">
                <input type="checkbox" name="xbox">
                <img src="./assets/icon-xbox.png" alt="Xbox One" title="Xbox One">
              </label>
              <label class="filter">
                <input type="checkbox" name="playstation">
                <img src="./assets/icon-playstation.png" alt="PlayStation 4" title="PlayStation 4">
              </label>
            </form>
          </aside>
        </header>

        <main id="main">{{ content }}</main>

        <footer>
          <p class="hero">
            This is a collection of new and old shooters and where to get them.
          </p>
          Produced and maintained by
          <a href="http://quakeulf.suxos.org/">quakeulf</a>, 2020
        </footer>
      </div>
    </div>

    <script type="text/javascript" src="./assets/script.js"></script>
  </body>
</html>
